.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-logo {
    margin-top: 10px;
    width: 60px; 
    height: 60px;  
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.96%);
    font-size: 22px;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    gap: 5px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.nav-menu li p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.96%);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}
.nav-menu li p:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

}