.footer-container {
  color: white;
  text-align: center;
  padding: 65px 0;
  font-size: 14px;
  position: relative;
/*   bottom: 0; */
  width: 100%;
}

.social-icons {
  display: flex;
/*   justify-content: center; */
  gap: 50px;
  margin-bottom: 10px;
}

.icon {
  color: #DF8908;
  font-size: 39px;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

.github-icon:hover { color: #B415FF; }
.linkedin-icon:hover { color: #B415FF; }
.facebook-icon:hover { color: #B415FF; }
.instagram-icon:hover { color: #B415FF; }

.copyright {
  font-size: 19px;
  opacity: 0.7;
}

/* @media(max-width:768px) {
  .footer-container {
      margin: 30px 20px;
      padding: 40px 0;
  }

  .social-icons {
      gap: 15px;
      margin-bottom: 15px;
  }

  .icon {
      font-size: 40px; 
  }

  .copyright {
      font-size: 16px; 
      opacity: 0.8;
  }
}
 */
